
<h2><%=link_to "  user", users_path %></h2>
<h2><%=link_to "  city", cities_path %></h2>
<h2><%=link_to " category", categories_path %></h2>
<h2><%=link_to " location", locations_path %></h2>
<h2><%=link_to "  event", events_path %></h2>
<h2><%=link_to " Bookings", bookings_path %></h2>
<h2><%=link_to " Roles", roles_path %></h2>
<h2><%=link_to " Notification", notifications_path %></h2>
