<h1>New event</h1>
<%= form_with model: @event do |f| %>
  
    <%= f.label :name %><br>
    <%= f.text_field :name %>
      <br>
    <%= f.label :start_time %><br>
    <%= f.datetime_field :start_time %>
      <br>
      <%= f.label :end_time %><br>
      <%= f.datetime_field :end_time %>
        <br>
        <br>
      <%= f.label :category %><br>
      <%= collection_select( :event, :category_id , Category.all, :id, :name)%>
        <br>
        <br>
    <%= f.label :location %><br>
    <%= collection_select( :event, :location_id , Location.all, :id, :name)%>
        <br>   
        <br> 
    <%= f.submit 'submit' %>
    <% end %>   